/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-jul-2015, 9:14:29
    Author     : Fcheca
*/


.btnhome{
    position: absolute;
    left: 50%;
    margin-left: -490px;
    margin-top: -60px;
    z-index: 100;
    background-color: #f7941d !important;
    color:#fff !important;
}


#oferta_plugin
{
    padding: 10px;
    background-color: #f7941d;
    height: 265px;
    width: 210px;
    border-radius: 10px;
    position:absolute;
    z-index: 100;
    margin-left: 50%;
    left: -490px;
    top: 500px;
    display: none;
}

.adress{
    position: absolute;
    margin-top: -50px;
    text-align: center;
    z-index: 100;
    color:#fff;
}

.rrss img{
    padding-right: 5px;

}

.fondo{

    height: 200px;
    background: url('img/header_image.jpg');
    background-position: center;
    background-size: cover;

}

#footer ul li a{
    font-size: 13px !important;
    color:#6c6c6c !important;

}

.fondo ul li a{
    text-shadow: 0px 0px 2px #000;
   
}

.servicio{
    min-height: 160px;
}

.icono{
    background-repeat: no-repeat;
    padding-left: 108px;
    padding-top: 29px;
    min-height: 85px;
    background-position: 0 -5px;
}


.pp_content_container{
    padding: 0px important;
    margin: 0px important;
}




#summaryElements {
    top: 200px!important;
}
#mirai_roomSelectionContainer h2 {
    font-size: 18px;
}

/* start: structure */

#mirai_roomSelectionContainer {
    max-width:1200px;
    margin:30px auto;
}
/* end: structure */
/* start: general */
#roomSelectionContainer, select, input, div.roomtypedetail span, #availableRoomList table.roomdetailBottomTable span {
    font-family:verdana;
    font-size:11px;
    color:#555;
}
.mirai_alert { /* color de msg negativo*/
    color:#d03741;
}
.mirai_advantage { /* color de msg positivo*/
    color:#397435;
}
.mirai_note { /* color de asteristico*/
    color:#ffa500;
}
.mirai_button, .mirai_button:visited { /* color de botón carrito*/
    border-bottom-color:#166f27;
    background-color:#1ba736;
    color: #FFFFFE;
}
.mirai_button:hover {
    background-color:#18832c;
    color: #FFFFFE;
}
.mirai_button.selectRoom, .mirai_button.selectRoom:visited { /* color de botón seleccionar*/
    border-bottom-color:#555;
    background-color:#807e7e;
    color: #FFFFFE;
}
.mirai_button.selectRoom:hover {
    background-color:#333;
    color: #FFFFFE;
}
.mirai_button.button_disabled, .mirai_button.button_disabled:hover{ /* color de botón desactivo*/
    background-color:#dedede;
    color:#bababa;
}
#mirai_rootTable a, #currencyDropdownTop a span, #mirai_selectionSummary a { /* color link text*/
    color:#3876fa;
}
#mirai_rootTable a:hover, #currencyDropdownTop a:hover span, #mirai_selectionSummary a:hover,
#availableRoomList tr.roomtype.hover p, #availableRoomList tr.roomrate.hover p, #availableRoomList tr.roomtype.hover .paxWrapper,
#availableRoomList tr.roomrate.hover span, #availableRoomList tr.roomtype.widthdetail:hover p{ /* color link hover text /*#00f*/
    color:#3876fa;
}
#availableRoomList tr.roomtype, #availableRoomList tr.roomrate td.col1, #availableRoomList tr.roomrate td.col2, #availableRoomList tr.roomrate td.col4, #availableRoomList td.tdRatesTable{
    background-color:#E9E8E6; /*color fondo de cada fila*/
}
#availableRoomList tr.roomrate td.col3, #availableRoomList tr.roomrate td.col5{
    background-color:#F6F6F6; /*color fondo de celdas alternativas*/
}
#availableRoomList tr.hover td, #availableRoomList tr.hover th {
    background-color:#C3C4BE!important; /*color fondo de fila con efecto hover*/
}
#availableRoomList tr.detaildisplayed th, #availableRoomList tr.detaildisplayed td.col1,
#availableRoomList tr.detaildisplayed td.col2, #availableRoomList tr.detaildisplayed td.col3,
#availableRoomList tr.detaildisplayed td.col4, #availableRoomList tr.detaildisplayed td.col5{ /*color fondo de fila cuando está abierta la caja de los detalles: double class, IE6 interpreta como "tr.detaildisplayed" */
    background-color:#dedddb;
}
#availableRoomList tr.roomtype p {
    color:#444;/*color de nombre de habitaciones*/
}
#availableRoomList th, #availableRoomList td, #availableRoomList td.roomdetailBottomTableCol2 div {
    border-color:#A4A39E; /* border de cada habitación*/
}
#availableRoomList tr.roomtype th {
    border-bottom-color:#FFF; /*border-bottom de contenidos de las filas*/
}
table.roomdetailBottomTable {
    border-color:#B0B1B4; /*border de la caja de los detalles de precios*/
}
#mirai_roomSelection, #currencyWrapper{ /*color fondo principal*/
    background-color:#FFFFFE;
}
#availableRoomList tr.roomratedetail, .roomtypedetail, #availableRoomList tr.roomratedetail{ /*color fondo de las cajas detalles*/
    background-color:#FFFFFE;
}
#availableRoomList table.alert tr.roomratedetail, #availableRoomList table.alert tr.roomratedetail td { /*color fondo con efecto alert*/
    background-color:#FFFFB3 !important;
}
/* end: general */
/* start: roomtypedetail */
#availableRoomList tr.roomtypedetail td { /*color fondo de los detalles de habitaciones*/
    background-color:#FFFFFE;
}
#availableRoomList div.roomtypedetail li, #availableRoomList table.roomdetailBottomTable li { /*estilo de bullet de la lista de los detalles*/
    list-style:square;
    color:#83eaf1;
}
#availableRoomList div.roomtypedetail li.inforooms_liSub span { /*color de bullet secundario*/
    color:#666;
}
/* end: roomtypedetail */
/* start: currency */
#currencyDropdownContents { /*estilo de la caja de currency*/
    background-color:#FFFFFE;
    border-color:#ccc;
}
#currencyDropdownContents li.actualCurrency a { /*color de fondo de moneda activado*/
    background-color:#f7f6a0;
}
#currencyDropdownContents hr { /*color de la barrita*/
    background-color:#ccc;
}
/* end: currency */
/* start: selectionSummary */
#mirai_rootTable #summaryHeader { /*color fondo del carrito*/
    background-color:#A4A39E;
    border-color:#A4A39E;
    color:#FFFFFE;
}
#mirai_rootTable #summaryDetailHeader { /*color fondo de segunda cabecera del carrito*/
    color:#FFFFFE;
    background-color: #CAC9C5;
    border-color: #CAC9C5;
}
#mirai_rootTable #summaryContainer { /*color de border del carrito*/
    border-color: #A4A39E;
    background-color:#FFFFFE;
}
#mirai_totalPrice { /*color precio total*/
    color:#333;
}
#mirai_rootTable #summaryNote, #mirai_rootTable #taxDetails, #mirai_rootTable .summary_type { /*color suave de los detalles del carrito*/
    color:#888;
}
#mirai_rootTable #summaryContainer, #mirai_rootTable #summaryElements {
    background-color:#FFFFFE;
}
/* end: selectionSummary */
/* start: searching overlay */
#mirai_overlay {
    background-color:#000;
}
#mirai_loadingBox {
    background-color:#fff;
    color:#666;
}
/* end: searching overlay */
/*start: tooltip style*/
.ui-tooltip-mirai .ui-tooltip-titlebar,.ui-tooltip-mirai .ui-tooltip-content {
    border-color:#ADD9ED !important;
    color:#5E99BD !important;
}
#mirai_rootTable .ui-tooltip-mirai .ui-tooltip-content {
    background-color:#E5F6FE !important;
}
#mirai_rootTable .ui-tooltip-mirai .ui-tooltip-titlebar {
    background-color:#D0E9F5 !important;
}
/*end: tooltip style*/
/*start: searching dialogue box*/
.ui-widget-content {
    border: 2px solid #888;
    color: #222;
}
.ui-widget-header {
    border: none;
    background: #fff; /* Para el calendario*/
}
/*end: searching dialogue box*/
/*start: searching table#mirai_associatedHotels*/
#mirai_associatedHotels{
    border-color:#A4A39E;
}
#mirai_associatedHotels .trOdd {
    background-color:#E9E8E6;
}
/*end: searching table#mirai_associatedHotels*/

dl.dropdown dd {
    border-right: 1px solid #7B7C7D;
    overflow: hidden;
}

#mirai_roomSelectionContainer {
    width: 100%;
}

#availableRoomList tr.roomrate td.col1 {
    width: 0;
}

dl.dropdown dt {
    color: #000000;
}

dl.dropdown dt.focus {
    background: #FFFFFF;
}

#content p {
    margin: 0;
}

#mirai_roomSelection, #currencyWrapper {
    background-color: transparent;
}


#logo {
    margin: 0 auto;
    width: 980px;
    padding: 5px 0;
}

#logo a {
    display: block;
    margin: 0 auto;
    text-indent: -999999px;
    background: url("logoApartahotelG3Galeon.png") no-repeat 0 0 transparent;
    height: 58px;
    width: 285px;
}

#container {
    margin: 0 auto;
    width: 980px;
}

/*------------ MOTOR MIRAI ---------------------*/

#mirai_be2,#mirai_be6{
    min-width:100px !important;
}

#mirai_bookentrance{
    margin: 0;
    padding: 8px 30px;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    width: auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 9px;
}

#mirai_be1, #mirai_be3, #mirai_be5, #mirai_be8 {
    font-family: Arial Rounded MT Bold, Arial, Helvetica, sans-serif;
    font-size:0.8em;
    color:#fff !important;
}
#mirai_be2.hasDatepicker,#mirai_be4,#mirai_be6 {
    background-repeat: no-repeat;
    background-color: #FFFFFF !important;
    border-radius: 5px;
    color: #3C3C3C !important;
    padding: 5px !important;
    font-family: arial;
    border: 1px solid #F7941D!important;
}

#mirai_be7 {
    margin: 0 0 0 25px!important;
}

#mirai_be7 input {
    font-family: Arial;
    color: #ffffff;
    font-size: 12px!important;
    background: #F7941D;
    border:none;
    border-radius: 5px;
    text-decoration: none;
    font-family: arial !important;
    padding: 5px 20px!important;
    text-transform: uppercase;
}

#mirai_be7 input:hover {
    text-decoration: none;
    text-shadow: 0 0 4px #FFDCB2;
    background: #FFA539;
}

.ui-datepicker .ui-datepicker-header, .ui-datepicker .ui-datepicker-buttonpane button, .ui-datepicker td:hover a {
    background: #E08A30 !important;
    color: #fff !important;
}

#ui-datepicker-div { font-size: 14px !important; }


#mirai_be1, #mirai_be3, #mirai_be5, #mirai_be8 {
    color: #000;
}

#mirai_be8{
    display:none !important;
}


#mirai_be2{
    max-width: 200px !important;
    width: 100px !important;
}

.hasDatepicker{
    width: 200px !important; 
}

/*---------------------------------------------------*/

/*-------------------------------- MEDIA QUERIES ENGINE-----------------------------*/
 
/* Large desktop */
@media (min-width: 1200px) {}
 
/* ipad portrait - landscape */
@media (min-device-width: 768px) and (max-device-width: 979px){}
 
/* customize ipad portrait */
@media (min-device-width: 768px) and (max-device-width: 979px) and (orientation : portrait) {
  .bookingstep1 #mirai_roomSelectionContainer {
    width: 98%;
  }
  .bookingstep1 #header .content {
    width: 100%;
  }
  .offers-detail-wrapper .section {
    padding: 0 !important;
  }
  #ui-datepicker-div  {
    left: 0!important;
    width: 98%!important;
  }
  #lang_sel_click {
      margin-top: 70px;
  }
  #mirai_be7 {
      margin-left: 0!important;
  }

  #mirai_bookentrance {
      padding: 8px;
  }
}
 
/* customize ipad landscape */
@media (min-device-width: 768px) and (max-device-width: 979px) and (orientation : landscape) {}
 
/* mobile */
@media (max-device-width: 767px) {
 
  #m_book {
    width: 80%;
    display: block;
    background: #F7941D!important;
    border: none!important;
    color: #fff!important;
    padding: 8px 0!important;
  }
 
  #m_cancellation {
    color: #fff!important;
    border: none!important;
    border-bottom: none!important;
    background: none!important;
    padding: 0!important;
    margin: 10px 0!important;
    display: block;
    box-shadow: none!important;
    text-transform: capitalize;
  }

  #mirai_bookentrance {
    display:block;
    position: absolute;
    width: 98%;
    margin: 0 0.5%;
    z-index: 9999;
  }

  #header #lang_sel {
      margin-top: 130px;
  }

  #page {
    padding-top: 0;
  }

  #slider {
    margin-top: 140px;
  }
}
/*---------------------------------------------------------------------------*/


/*------------------- MASHUP OFERTAS HOME -----------*/

#mashup_mirai_offers.pastillas {
    padding: 5px;
    background: #F9862B;
}

#offersPhoto {
    width: auto!important;
}

#offersPhoto img {
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 10px;
    float: none!important;
}

#offersPhoto ul {
    float: none!important;
    display: inline-block;
    max-width: 200px!important;
}

#offersPhoto ul li.offersName {
    color: #fff;
}

#offersPhoto .offersNumber {
    padding: 8px 0;
}

#offersPhoto a.mirai_btOffers, #offersPhoto a.mirai_btOffers:link {
    background: #fff!important;
    color: #464646!important;
    padding: 10px 20px!important;
    line-height: 1em!important;
    height: auto!important;
    border-radius: 5px;
    font-weight: bold;
    margin: 1px!important;
}

#offersPhoto a.mirai_btOffers:hover {box-shadow: 0 0 5px #FFD3B1;background: #F9862B!important;border: 1px solid #fff;color: #fff!important;margin: 0!important;}

/*-----------------------------------------------------*/
/*------------ OFFERS PAGE ----------------------------*/
#offersHs #headerOffers {
 height: 130px!important;
}

.jCalMo .dow {
    height: 22px!important;
}

.amazingslider-nav-thumbnail-tite-1{
    display: none !important;
}

.amazingslider-text-box-1{
    display:none !important;
}

#comments{
    display: none;

}

.adress{
    margin-left:50%;
    left: -225px;
    width: 450px;
    height: 25px;

}

.rrss_home{
    position: absolute;
    z-index: 100;
    text-align: center;
    margin-left: 50%;
    left:-30px;
    margin-top: -80px;

}

.iconoshome{
    position: absolute;
    margin-top: 260px;
}

.detalles p{
    /* font-size: 1.8em !important; */
}

.subtitulo{
    font-size:1.8em;
}

.imglogo a img{
    max-width: 80px;
    margin-left: 34px;  
    margin-top:20px;
}

.logo a img{
     width:80px !important;
}

.circlehome{
    position: absolute;
    z-index: 100;
    margin-left: 50%;
    left:-350px;
    width: 700px;
    text-align: center;
    margin-top: -340px;
}
.circlehome  a:first-child{
    margin-left: 0px !important;

}
.circlehome a{
    margin-left: 100px;

}

@media (max-width: 1000px) {
    .circlehome {
        display: none;
    }
    .rrss{
        display:none !important;
    }
    
    .pastillas_ofertas{
        display: none !important;
    }
}

.wonderpluginslider-container{
    height: 420px;
        
    padding-bottom: 20px !important;
    
}

.pastillas_ofertas{
    position: absolute;
    margin-top: -280px;
    margin-left: -500px;
    left:50%;
    width: 1000px;
    z-index: 100;
    
}
.pastillas{
    width: 326px;
    height: 170px;
    float: left;
    padding: 20px;
    background-color: #fff;
    
    border-color: #e38a36 !important;
    border: 3px solid;
    border-radius: 20px !important;
    margin-left: 6px;
    display: block;
    background-repeat: no-repeat;
    
}

#video_home{
    display:none;
    position: fixed;
    width: 550px;
    height: auto;
    margin-top:-750px;
    margin-left: -250px;
    z-index: 160;
    left:50%;
}

#bg{
    display: none;
    background-color: #000;
    position: fixed;
    top:0;

    z-index: 150;
    width: 100%;
    height: 1000px;
    opacity: 0.5;
}

.galeria{
    min-height: 800px;
}