<nav id="mainNav" class="nav_top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-sm-2">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Logo</a>
        </div>

        <div class="col-sm-6">
          <a class="navbar-brand" href="#">Zona</a>

        </div>

        <div class="col-sm-1">
          <a class="navbar-brand" href="#">Buscar</a>

        </div>

        <div class="col-sm-1.5">
          <a class="navbar-brand" href="#">Registrate</a>
        </div>
        <div class="col-sm-1.5">
            <a class="navbar-brand" href="#">Inicia Sesión</a>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
