<nav class="navbar navbar-default margin_null color-nav main-nav" >
  <div class="container-fluid">
    <div class="col-sm-1 padding_null  " style="border">
      <a class="brand text-white logo " href="/">bRoutes</a>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>

    <div class="col-sm-4 padding_null " style="padding:0px padding-right:5px">

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <form class="navbar-form navbar-left nav-select border-nav" role="search">
          <%= render :partial => "select_district", :locals => {:neighborhoods => neighborhoods} %>
        </form>

      </div>
    </div>
    <div class="col-sm-4 padding_null" style="padding:0px padding-right:5px;
    color:white">
      <h2 id="js-h-route"class="center" style="padding:15px"> </h2>
    </div>

    <div class="col-sm-1 col-md-offset-1 padding_null">
      <!-- <button class="btn btn-default btn-new-route"
       id="js-btn-search" type="submit">New route</button> -->
      <form method="get" action="/routes/new" class="button_to">
        <button class="btn btn-default btn-new-route"
         id="js-btn-render" type="submit">New route</button>
      </form>
    </div>

  </div>
</nav>
