
<select name="neighborhood-list" form="neighborhoods-form" class="form-control neighborhoods-form" >
  <% @neighborhoods.each do |neighborhood| %>
  <option value='<%= neighborhood.name %>' ><%= neighborhood.name%></option>
  <% end%>
</select>

<form method="get" action="/routes" class="button_to">
  <button class="btn btn-default" id="js-btn-search" type="submit">Search</button>
</form>
