<%= render 'nav'%>



<div class="container-fluid main">
  <div id="input-wrapper">
    <input type="text" name="get-places" id="get-places">
  </div>
  <div class="col-sm-6 padding_null">
    <div id="map">

    </div>

  </div>
  <div class="padding_null col-sm-2 ">
    <div class="mygrid-wrapper-div ">
      <ul class="ul-routes">
        <li><a class="active" href="#home">Route1</a></li>
        <li><a href="#news">Route2</a></li>
        <li><a href="#contact">Route3</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
        <li><a href="#about">Route4</a></li>
      </ul>
    </div><!--/.well -->
  </div>
  <div class="col-xs-4 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation"   style="float:left">
    <div class="mygrid-wrapper-div ">
    </div>
  </div><!--/span-->
 </div><!--/row-->
  <footer class="footer">
    <div id="container">
      <div>footer</div>
    </div>
  </footer>
</div>
