<%= render 'nav'%>


<div class="container-fluid main">
  <div class="row">
    <div id="input-wrapper">
      <input type="text" name="get-places" id="get-places">
      <button class="btn btn-default" id="js-btn-search" type="submit">Search</button>
    </div>


  </div>
  <div class="col-sm-6 padding_null">
    <div id="map">  </div>
  </div>
  <div class="padding_null col-sm-2 ">
    <div class="mygrid-wrapper-div" id="js-route-list">

    </div><!--/.well -->
  </div>
  <div class="col-xs-4 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation"   style="float:left">
    <div class="mygrid-wrapper-div ">
    </div>
  </div><!--/span-->
 </div><!--/row-->
  <footer class="footer">
    <div id="container">
      <div>footer</div>
    </div>
  </footer>
</div>
