
<%= render :partial => "nav", :locals => {:neighborhoods => @neighborhoods} %>

<div class="container-fluid main padding_null" >
  <div class="row">
    <div class="col-sm-6 padding_null" style="padding:0px padding-right:5px">
      <div id="map">  </div>
    </div>
    <div class="col-sm-6 padding_null" style="width:49%; padding:10px !important">
      <div class="alert alert-dismissible alert-warning hidden">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Not routes!</h4>
        <p>Routes not found in this area</p>
      </div>
        <%= render 'routes'%>
    </div>
    <div class="col-sm-6 padding_null hidden">

      <div class="col-sm-6 padding_null">
        <div class="mygrid-wrapper-div panel-default " id="js-route-list">

        </div><!--/.well -->
      </div>
      <div class="col-xs-1 col-sm-6 sidebar-offcanvas padding_null" id="sidebar"
       role="navigation"   style="float:left">
        <div class="mygrid-wrapper-div" id="js-bar-list">
        </div>

      </div>
    </div><!--/span-->
  </div><!--/row-->
<!--
 <%= render '/layouts/footer'%> -->

</div>
