<%= render :partial => "nav", :locals => {:neighborhoods => @neighborhoods} %>

<div class="container-fluid main padding_null">
  <div class="div-create-route center margin-center">
    <%= render "form-route" %>
  </div>

  <div class="col-sm-9 hidden" id="js-create-bar">
    <div class="center">
      <h2 class="route-name hidden" id-route="">Route: </h2>
    </div>

    <div class="col-sm-3" style="width:40%">
      <div class="js-bar-form">
        <%= render 'form_bar'  %>

      </div>

    </div>
    <div class="col-sm-9 js-create-bar" style="background-color:aliceblue; width:60%">
      <div class="js-bar-map hidden">
        <h5>Select bar position:</h5>
        <div id="map" style="height: 70vh;">  </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 padding_null " >

        <div class="mygrid-wrapper-div " id="js-bar-list">
          <ul class="js-ul-bars hidden"> </ul>
        </div><!--/.well -->
  </div>

</div>
