<nav class='header'>
<!-- <nav class="navbar header_twitter navbar-default "> -->
    <div class='container'>
        <div class="col-sm-2">
          Logo
          <a class="navbar-brand" href="#">Logo</a>
        </div>


        <div class="col-sm-7">
          Buscar
        </div>

        <div class="col-sm-1">
        </div>

        <div class="col-sm-1">
          <a class="navbar-brand" href="#">Registrate</a>
        </div>
        <div class="col-sm-1">
            <a class="navbar-brand" href="#">Inicia Sesión</a>
        </div>
    </div>
</nav>
