<!DOCTYPE html>
<html>
  <head>
    <title>IronhackProyect</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  </head>

  <body class"" >
    <%= yield %>
  </body>
</html>
